page-login {

  .content {
    background-image: url(../assets/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card-background-page {
    position:fixed;
    text-align: center;
    width:100%;
    height:100%;
    margin:auto;
    display: block;
    opacity: 0.9;
    filter: alpha(opacity=80);
  }

  .boton {
    font-family: 'Roboto', sans-serif;
    border: none;
    cursor: pointer;
    color: white;
    padding: 15px 50px;

    font-size: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    background: #2196F3;
    margin-bottom: 25px;
    margin: auto;
    width: 150px;

  }

  /* Ripple magic */
  .boton{
    position: relative;
    overflow: hidden;
  }

  .boton:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
  }

  @keyframes ripple {
    0% {
      transform: scale(0, 0);
      opacity: 1;
    }
    20% {
      transform: scale(25, 25);
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(40, 40);
    }
  }

  .boton:focus:not(:active)::after {
    animation: ripple 1s ease-out;
  }

  .card-content{
    margin:auto;
    margin-bottom: 12320px;
 }


  .recupera_contraseña{
    color :light;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 21px;
    font-size: 13px;
 }

  img{
    width: 50%;
    height: 50%;
    margin-top: 0px;
    margin-bottom: 10px;
    display:block;
    margin:auto;
  }

  h1 {
    color : #39acdc;
    font-family: Helvetica, Arial, sans-serif;
    font-size : absolute;
    font-weight: bold;
    white-space: nowrap;
  }

  P {
    color : #39acdc;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 21px;
    font-size: 15px;
  }

  ion-row {
    align-items: center;
    text-align: center;
 }

 ion-item {
   font-family: inherit;
   letter-spacing: inherit;
   padding-left: 10px !important;
   border-color: #bdc7d8;
   border-radius: 5px;
 }

 ion-list {
    margin: 0;
  }

}
