.menu-avatar {
  border-radius: 30%;
  display: block;
  padding-top: 0;
  padding: 21px;
  width: 50%;
  height: 80%;
  }

 h4{
   color: #ffffff;
   display: block;
   margin-top: -0.4rem;
   text-align: center;
   font-weight: 100 !important;
   font-size: 14px;
 }


  .menu-avatar{
    height: 160px;
    background: #8BC34A;
  }



.toolbar-background {
    background-color: #2b78e4;
}

.toolbar-title{
    color: #ffffff;
}
