page-comentario {
  .cabecera_falla{

}

  .imagen{
    max-width: 100%;
    height: auto;

}


  .contenido_falla{
    left: 0px;
    right: 0px;
    top: 300px;
}

  .titulo{
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    text-align: left;
}

  .subtitulo{
    text-align:left;
    font-style: italic;
    font-size: 12px;
}

  h1{
    text-align: left;
}



}
